* {
 margin: 0;
 padding: 0;

}

p, h2 {
  font-family: 'Lato', sans-serif;
  padding: 1rem 0rem;
}

p {
  font-weight: 400;
  color: #004165;
  font-size: 1rem;
  line-height: 1.5rem;

}

@media (min-resolution: 2dppx){
  p {
    font-size: 2rem;
    color: red;
  }
}

@media (min-resolution: 4dppx){
  p {
    font-size: 4rem;
    color: green;
  }
}


h2 {
  font-weight: 400;
  color: #F37121;
  font-size: 1.5rem;
}

.wrapper {
  background: linear-gradient(90deg, rgba(60, 161, 218, 0.3) 0%, rgba(243, 113, 33, 0.3) 100%), linear-gradient(317.22deg, rgba(159, 159, 159, 0.05) 22.46%, rgba(17, 17, 17, 0.05) 22.46%), linear-gradient(224.19deg, rgba(202, 202, 202, 0.06) 42.61%, rgba(89, 89, 89, 0.06) 42.61%), linear-gradient(318.37deg, rgba(100, 100, 100, 0.05) 43.88%, rgba(253, 253, 253, 0.05) 43.89%), linear-gradient(51.4deg, rgba(107, 107, 107, 0.06) 77.33%, rgba(179, 179, 179, 0.06) 77.33%), linear-gradient(201.36deg, rgba(73, 73, 73, 0.06) 47.8%, rgba(145, 145, 145, 0.05) 47.8%), linear-gradient(128.29deg, rgba(141, 141, 141, 0.09) 63.78%, rgba(141, 141, 141, 0.09) 63.79%, rgba(51, 51, 51, 0.09) 63.8%);
}

.white {
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.logo, .slogan {
  margin-top: auto;
  margin-bottom: auto;
  width: 50%;
}

.slogan {
  justify-self: center;
  flex-basis: 22rem;
}

.slogan p {
  font-weight: 300;
  color: #000000;
}

.legende, .about {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#instaButton {
  padding: 10px;
}

.insta p {
  font-size: 1.2rem;
  padding: 1rem;
}

.about h2 {
  font-weight: 300;
  color: black;
}

.pied p {
  color: white;
  text-shadow: 1px 3px 2px rgba(0, 0, 0, .25);
}

/* Button styling */

button {
  border: 0;
  border-radius: 1rem;
  background: white;
  color: #004165;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.siteB p {
  padding-bottom: 2rem;
}

.siteB img {
  border-radius: 1rem 1rem 0rem 0rem;

}
